# Unity
*.cs text eol=lf
*.shader text eol=lf
*.compute text eol=lf
*.hlsl text eol=lf
*.cginc text eol=lf
*.glsl text eol=lf

# Unity YAML
*.meta text eol=lf
*.unity text eol=lf
*.prefab text eol=lf
*.asset text eol=lf
*.anim text eol=lf
*.controller text eol=lf
*.overrideController text eol=lf
*.mask text eol=lf
*.mat text eol=lf
*.physicMaterial text eol=lf
*.renderTexture text eol=lf
*.spriteatlas text eol=lf

# Config
*.json text eol=lf
*.xml text eol=lf
*.txt text eol=lf
*.md text eol=lf

# Binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.psd binary
*.fbx binary
*.wav binary
*.mp3 binary
*.ogg binary
*.dll binary
*.exe binary
*.zip binary
